/*Appelation de différentes polices pour personnaliser la page*/
@font-face {
    font-family: 'earthorbiter';
    src: url('fonts/earth-orbiter/earthorbiter.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glitch_inside';
    src: url('fonts/Glitch inside.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'retro_computer';
    src: url('fonts/Retro Computer.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'undertale_font';
    src: url('fonts/MonsterFriendFore.otf');
    font-weight: normal;
    font-style: normal;
}
/*FIN DES FONTS*/

/*Début des Class de Font*/
.earthorbiter {
	font-family: earthorbiter;
}
.glitch_inside {
	font-family: glitch_inside;
}
.retro_computer{
	font-family: retro_computer;
}
.undertale_font {
	font-family: undertale_font;
}
/*Fin Class des Fonts*/


/*Boxes*/
#global{
	background-color: rgba(128,128,128,0.9);
	position:absolute;
	left:12%;
	width:70%;
	line-height:150%;
	padding-left:3%;
	padding-right:5%;
	padding-top:2%;
	padding-bottom:2%;
}

/*Mise en page*/
#somm {
	padding-left: 25%;
	line-height: 30px;
}

ul {
	list-style-type: none;
}

a
{ 
 	text-decoration:none; 
 	color : white;
}

body{
	color:white;
	font-size: 110%;
}

#body1{
	background-image: url('../images/brain1.jpg');
	background-size: 33.33333%;
}

#body2{
	background-image: url('../images/brain2.jpg');
	background-size: 33.33333%;
}

#body3{
	background-image: url('../images/brain3.jpg');
	background-size: 33.33333%;
}

#body4{
	background-image: url('../images/brain4.jpg');
	background-size: 33.33333%;
}

#body0{
	background-image: url('../images/Flowey-the-Flower-Undertale.jpg');
	background-size: 33.33333%;
}

#url{
	font-size: 75%;
	font-family: earthorbiter;
	padding-left: 47%;
	text-decoration: underline;
}

h1{
	text-align: center;
	font-family: glitch_inside;
	font-size: 300%;
	padding : 20px;
	font-weight: normal;
	line-height:130%;

}

h2{
	text-align: center;
	font-family: retro_computer;
	font-weight: normal;
	font-size: 170%;
	padding : 10px;
}

h3{
	text-align: left;
	font-family: earthorbiter;
	font-weight: bold;
	font-size: 150%;
	padding-left: 3%;
	padding : 10px;
}

iframe{
	padding-left: 25%;
	border: none;
}

.big{
	padding-left: 28%;
	max-width:40%;
	height:auto;
}

.video{
	padding-left: 35%;
	max-width:50%;
	height:15em;
}

#suivant{
	padding-left: 48%;
	width:30px;
	height:auto;
}

.strong{
	font-weight: bold ;
}

.liens{
	text-decoration: underline;
}

#conference{
	padding-left: 75%;
}

#hello_world{
	padding-left:38%;
}

.god {
	opacity: 5%;
}
/*CSS pour les citations et sources*/
q{
	padding: 10%;
	font-style: italic;
}

.source{
	padding-left: 35%;
	font-style: italic;
}

/*Button Intelligent*/
button {
	display: inline-block;
	background-color: #1b1b1b;
	color: #e1e1e1;
	margin: 25px;
	margin-left: 45%;
	position: relative;
	width: 140px;
	height: 90px;
	border-radius: 3px;
	border: none;
	font-size: 1.5em;
	text-align: center;
	text-decoration: none;
	box-shadow: 0 2px 8px 0 #999;
}

button:hover {
	background-color: black;
	color: #ffcc00;
	cursor: help;
}

/*Fin Mise end Page*/

/*Code pour Bandeau Déroulant*/
#logo{
	padding-top: 10%;
	max-width: 100%;
	height: auto;
}

#bandeau{
    top: 15%;
    width: 11%;
    height: auto;
    position : fixed;
	background-color : #1b1b1b;
	border-radius : 16px;
}

a{
	text-decoration:none;
}

/*Debut code boutons bandeau*/
.liste{
	padding-top: 25%;
	right:0%;
}

nav{
    position: sticky;
}

nav ul{
    list-style-type: none;
	padding-left:0;
}

nav ul::after{
    display: table;
    clear: both;
}

nav a{
    display: block;
    padding: 10px;
}

nav a:hover{
    color: grey ;
    border-bottom: 2px solid red;
}

.sous{
    display: none;
    background-color: rgb(13,13,13);
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a:hover{
    background-color: RGBa(200,200,200,0.1);
}

#en-cours{
	background-color: #6D071A;
}

#paragraphe{
	position:relative;
	text-align:justify;
	left:15%;
	width:75%;
	top:45%;
}
#sommaire{
	text-align:center;
	top:30%;
	list-style-type: none;
}
.contenu{
	width:100%;
}
/*Fin du Code Bandeau Déroulant*/

/*CSS du Tableau*/
th {
	padding: 20px;
	letter-spacing: 2px;
}

td {
	padding: 10px;
}

tr {
  letter-spacing: 1px;
}
/*Fin CSS du Tableau*/